.nombreCategoria {
    font-weight: bold;
    color: #488aff;
    font-size: 19px !important;
}

.item {
    font-size: 17px;
}

ion-card {
    width: 100%;
}

.button-content {
    width: 100%;
    text-align: center;
}