.titulo {
    color: #D42023; 
    font-size: 20px;
 }

 .encabezado {
     color: #757575;
     font-size: 30px;
 }

 .iconoTelf {
     margin-left: 8%;
 }
 
 .letra {
     font-size: 15px;
 }

 .fondo {
     background: #F6F6F6;
 }