<ion-header>
  <ion-toolbar color="{{config.styleApp}}">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'PuntosEstrategicos.TituloPuntosEstrategicos' | translate}}
    </ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="seleccion" class="opciones" color="{{config.styleApp}}">
    <ion-segment-button value="Puntos" selected>
      {{'PuntosEstrategicos.TabPuntos' | translate}}
    </ion-segment-button>
    <ion-segment-button value="misPuntos">
      {{'PuntosEstrategicos.TabMisPuntos' | translate}}
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div [ngSwitch]="seleccion">
    <div *ngSwitchCase="'Puntos'">
      <ion-searchbar (ionInput)="filterItems($event)" placeholder="{{'PuntosEstrategicos.BarraBusqueda' | translate}}">
      </ion-searchbar>
      <ion-item class="fondoCategoria">
        <ion-label>{{'PuntosEstrategicos.Categoria.TituloCategoria' | translate}}: </ion-label>
        <ion-select [(ngModel)]="seleccionado" (ionChange)="onSelectChange($event)">
          <ion-select-option *ngFor="let cat of categories" [value]="cat.Valor">
            {{ 'PuntosEstrategicos.Categoria.' + cat.Nombre | translate}} </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let point of visiblePoints" [routerLink]="['/strategic-point', point.Nombre]">
          <ion-avatar slot="start">
            <img src="{{point.Imagen}}">
          </ion-avatar>
          <ion-label>
            <h2 class="ion-text-wrap"><b>{{point.Nombre}}</b></h2>
            <p>{{point.Categoria}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'misPuntos'">
      <ion-searchbar (ionInput)="filterMisPuntos($event)"
        placeholder="{{'PuntosEstrategicos.MisPuntos.BarraBusqueda' | translate}}">
      </ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let punto of visibleMyPoints">
          <div (click)="showMyPoint(punto)">
            <div slot="start">
              <h4><b>{{punto.nombre}}</b></h4>
            </div>
          </div>
          <ion-buttons slot="end">
            <ion-button size="small" (click)="alertDeletedPoint(punto)">
              <ion-icon name="trash" color="danger" large></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
      <ion-fab horizontal="end" slot="fixed" vertical="bottom" (click)="addMyPoint()">
        <ion-fab-button color="danger">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
</ion-content>